body {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkQ4fxZ7Xz1TjvaSXlwAMGRcFHyt3s69HOqA&usqp=CAU);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:white;
}

.Options_padding {
  padding: 20px;
}


.Options_margin {
  margin: 20px;
}

.Options_root{
  display: flex;
  flex-direction: column;
}

.Options_paper{
  padding: 10px 20px;
  margin-left: 10px;
  border: 2px solid black;
}
